patterns {
    yarn.lock
}

project {
  JSON
  Json
  Skyspell
  Uri
  cmd
  commonjs
  eslint
  js
  json
  pwd
  skyspell
  stderr
  stdout
  tdd
  tsc
  ui
  uri
  vscode
}

paths {
  package.json {
    prepublish
  }
}

global {
  Changelog
  Fallthrough
  README
  dev
  fallthrough
  src
  subfolder
}

extensions {
  ts {
    async
    const
    cwd
    dirname
  }
}
