github_url = "https://github.com/your-tools/skyspell-vscode"

[version]
current = "0.0.1"

regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  '''

[git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"

[[file]]
src = "package.json"
search = '"version": '

[[before_commit]]
name = "generate package lock"
cmd = "npm install"
